body{
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    display: flex;
    position: relative;
}

.logo{
    margin-top: 20px;
    margin-left: 5%;
}

.areas{
    width: 30%;
    position: absolute;
    right: 50px;
    margin-top: 50px;
    text-align: center;
}

nav li{
    display: inline-block;
    margin-right: 50px;
}

nav a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.sobre{
    width: 34%;
    position: absolute;
    left: 150px;
    margin-top: 160px;
}

.sobre h1{
    font-size: 60px;
    margin-bottom: 0;
}

span{
    font-size: 80px;
    color: #017143;
}

.sobre button{
    background-color: #017143;
    color: white;
    padding: 10px 20px;
    border-radius: 90px;
    border: none;
    font-size: 15px;
}

.circle{
    background-color: #017143;
    position: absolute;
    top: auto;
    width: 650px;
    height: 650px;
    color: #017143;
    right: 0%;
    bottom: 0%;
    border-top-left-radius: 100%;
}

.circle img{
    background-color: antiquewhite;
}
    
.img-footer{
    position: absolute;
    bottom: 0;
}

